.profile-form {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .submit {
        margin-top: 20px;
        border: none;
        padding: 10px;
        width: 120px;
        text-transform: uppercase;
        color: white;
        background-color: green;
        border-radius: 25px;
        letter-spacing: 3px;
        font-weight: bold;
        transition: .5s;
        &:hover {
            cursor: pointer;
            background-color: lighten($color: green, $amount: 10);
        }
    }
}

.submit2 {
    margin-top: 20px;
    border: none;
    padding: 10px;
    width: 120px;
    text-transform: uppercase;
    color: white;
    background-color: green;
    border-radius: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    transition: .5s;
    &:hover {
        cursor: pointer;
        background-color: lighten($color: green, $amount: 10);
    }
}